<section class="cases" id="cases">
  <div class="container">
    <p class="cases-pre-title">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list cases-cards gallery">
      <li class="item">
        <a href="/src/images/cases/Rectangle1_3x.jpg">
          <img src="./images/cases/cases-1.jpg" alt="team meeting" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle2_3x.jpg">
          <img src="./images/cases/cases-2.jpg" alt="laptop on the table" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle3_3x.jpg">
          <img src="./images/cases/cases-3.jpg" alt="work with diagrams" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle4_3x.jpg">
          <img
            src="./images/cases/cases-4.jpg"
            alt="clouds over the buildings"
          />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle5_3x.jpg">
          <img src="./images/cases/cases-5.jpg" alt="business handshake" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle6_3x.jpg">
          <img src="./images/cases/cases-6.jpg" alt="teamleader with team" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle7_3x.jpg">
          <img src="./images/cases/cases-7.jpg" alt="the team`s decision" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/Rectangle8_3x.jpg">
          <img
            src="./images/cases/cases-8.jpg"
            alt="the team`s communication"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
