<footer class="footer" id="contact">
  <div class="container">
    <ul class="list card-actions">
      <li class="card-actions__item">
        <a href="" class="card-actions__link link">
          <svg class="card-actions__icon" width="35" height="35">
            <use href="./images/defs.svg#fs"></use>
          </svg>
        </a>
      </li>

      <li class="card-actions__item">
        <a href="" class="card-actions__link link">
          <svg class="card-actions__icon" width="35" height="35">
            <use href="./images/defs.svg#tw"></use>
          </svg>
        </a>
      </li>

      <li class="card-actions__item">
        <a href="" class="card-actions__link link">
          <svg class="card-actions__icon" width="35" height="35">
            <use href="./images/defs.svg#you"></use>
          </svg>
        </a>
      </li>

      <li class="card-actions__item">
        <a href="" class="card-actions__link link">
          <svg class="card-actions__icon" width="35" height="35">
            <use href="./images/defs.svg#lin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">Copyright &copy 2021 - FinanceLedger</p>
  </div>
</footer>
