<section class="request">
  <div class="container">
    <img src="./images/request/request.jpg" alt="request" />
    <div class="request-wrapper">
      <h2 class="request-title">Request Callback</h2>
      <form class="">
        <div>
          <input type="name" placeholder="Enter your name" class="field-name" />
        </div>
        <div>
          <input
            type="email"
            placeholder="Enter email*"
            autocomplete="on"
            class="field-email"
          />
        </div>
        <button type="submit" class="send-button">Send</button>
      </form>
    </div>
  </div>
</section>
