.request {
  & .container {
    display: flex;
    padding: 0;
  }

  &-wrapper {
    text-align: center;
    width: 680px;
    padding-top: 78px;
    padding-bottom: 82px;
    background-color: #f4f4f4;
  }

  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 34px;
  }

  & .field-name {
    width: 620px;
    height: 40px;
    margin-bottom: 36px;
  }

  & .field-email {
    width: 620px;
    height: 40px;
    margin-bottom: 60px;
  }

  & .send-button {
    width: 620px;
    height: 42px;
    border-radius: 5px;
    border-color: #28a745;
    line-height: 1.39;
    text-align: center;
    color: #ffffff;
    background-color: #28a745;
  }
}
